/* Modal Custom
------------------------------------
*/
.modal {
  .title {
    font-size: 1.125rem;
    color: $neutral-100;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .modal-content {
    border-width: 0;
  }

  .modal-body {
    padding-bottom: 1.75rem;
    padding-top: 0;
  }
}
.modal-backdrop {
  background-color: $neutral-200;
  opacity: 25%;
}
.modal-open {
  overflow: hidden !important;
}

.wrap-last-child-mb-0 {
  > *:last-child {
    margin-bottom: 0 !important;
  }
}
.wrap-last-child-no-margin {
  > *:last-child {
    margin: 0 !important;
  }
}
